<h1>Contact Edit</h1>
<md-card>
    <div>
        <img *ngIf="contact.imageUrl" [src]="contact.imageUrl" alt="contact image profile">
        <input type="file" *ngIf="!isNewContact" (change)="uploadFile($event)">
    </div>
    <md-input-container>
        <input type="text" mdInput [(ngModel)]="contact.name">
    </md-input-container>
    <div *ngIf="!isNewContact">
        <md-select placeholder="company" [(ngModel)]="selectedCompany">
            <md-option *ngFor="let company of companies$ | async" [value]="company">{{company.name}}</md-option>
        </md-select>
        <button md-raised-button (click)="addCompany()">Add Company</button>
    </div>
    <md-list>
        <md-list-item *ngFor="let company of contactCompanies">{{company.name}}</md-list-item>
    </md-list>
    <md-card-actions align="right">
        <button md-button (click)="saveContact(contact)">Save</button>
        <button md-button (click)="removeContact(contact)">Remove</button>
    </md-card-actions>
</md-card>